{% extends 'base.html' %}
{% block content %}

<section class="top-sect-day2">
        <div class="step2">
            <h3>Step TWO</h3>
        </div>
        <div class="example-container">
            <div id="s2-pic1" class="examples">
    
            </div>
            <div id="s2-pic2" class="examples">
    
            </div>
            <div id="s2-pic3" class="examples">
    
            </div>
        </div>
    </section>
        <div class="upload-container">
            <div class="upload">
                <p>upload image here!</p>
            </div>
        </div>

    <section id="default_text" class="bottom-sect-day1">
        <div class="step1-text">
            <p>Click on the first photo to get started!</p>
        </div>
    </section>
    
    <section id="pic1_text" class="bottom-sect-day1">
        <div class="step1-text">
          <ol>
              <li>Picture 1/Stir</li>
              <ul class="step-two-ul">
                  <li>Use your hands to mix up your starter.</li>
                  <li>Use your dough spatula to scrape off the dough on your hands into the bowl.</li>
                  <li>Then clean off the sides of the bowl.</li>
                  <li>Put a kitchen towel over your bowl and place the bowl in a shaded place in your kitchen</li>
              </ul>
          </ol>  
          <p>Let the starter sit until tomorrow morning.</p>
        </div>
    </section>
    
    <section id="pic2_text" class="bottom-sect-day1">
        <div class="step1-text">
            <ol start="2">
                <li>Picture 2/Feed</li>
                <ul class="step-two-ul">
                    <li>Use your dough spatula to scoop out 80% of your starter into the trash</li>
                    <li>Add 25g of whole wheat flour, 25g white flour, and 50g of filtered water to your starter.</li>
                    <li>Mix it all together with your hands.</li>
                    <li>Use your dough spatula to scrape off the dough on your hands into the bowl.</li>
                    <li>Then clean off the sides of the bowl.</li>
                    <li>Put a kitchen towel over your bowl and place the bowl in a shaded place in your kitchen</li>
                </ul>
            </ol>  
            <p>Now we will let are starter sit until after dinner.</p>
        </div>
    </section>
    
    <section id="pic3_text" class="bottom-sect-day1">
        <div class="step1-text">
            <ol start="3">
                <li>Picture 3/Ready</li>
                <ul class="step-two-ul">
                    <li>Your starter is now ready! We can use it to make our leaven. If you do not have the time to bake wait until tomorrow morning and feed your starter again. Otherwise, let's get started.</li>
                    <li>Before going to bed take 20g of your starter add place it into a bowl.</li>
                    <li>Add 100g of whole wheat flour, 100g of white flour, and 200g of warm water (78ºF).</li>
                    <li>Mix it all together using your hands.</li>
                    <li>Use your dough spatula to scrape off the dough on your hands into the bowl.</li>
                    <li>Then clean off the sides of the bowl.</li>
                    <li>Put a kitchen towel over your bowl and place the bowl in a shaded place in your kitchen overnight.</li>
                </ul>
            </ol>  
        </div>
        <div class="step1-last">
            <form action=""  method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn" value="Next!">
            </form>
        </div>
    </section>

{% endblock %}