{% extends 'base.html' %}
{% block content %}

<section class="top-sect-day2">
    <div class="step2">
        <h3>Step TWO</h3>
    </div>
    <div class="example-container">
        <div class="examples">

        </div>
        <div class="examples">

        </div>
        <div class="examples">

        </div>
    </div>
</section>
    <div class="upload-container">
        <div class="upload">
            <p>upload image here!</p>
        </div>
    </div>

<section class="bottom-sect-day1">
    <div class="step1-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugiat voluptatum ex labore odit doloribus aut necessitatibus eos rem ullam dolorum laboriosam, placeat totam quibusdam at recusandae enim sint aliquam?</p>
    </div>
    <div class="step1-last">
        <form action=""  method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn" value="Next!">
        </form>
    </div>

</section>

{% endblock %}