{% extends 'log.html' %}
{% block content %}

  <h1>Sign Up</h1>

  {% if error_message %}
  
  <p class="red-text">{{ error_message }}</p>
  
  {% endif %}
  
  <!-- <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn" value="signup">
  </form> -->



<div class="login-page">
    <div class="form">
        <form class="register-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
          </form>
      <form class="register-form" method="post" action="{% url 'signup' %}">
          {% csrf_token %}

          <p>
            <label for="id_username">Username:</label> 
            <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username"> <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
          </p>

          <p>
            <label for="id_password1">Password:</label> 
            <input type="password" name="password1" required="" id="id_password1"> 
            <span class="helptext"></span>
          </p>

          <ul>
            <li>Your password must contain at least 8 characters.</li>
          </ul>

          <p>
            <label for="id_password2">Password confirmation:</label> 
            <input type="password" name="password2" required="" id="id_password2"> 
            <span class="helptext">Enter the same password as before, for verification.</span>
          </p>
          <input type="submit" class="btn" value="signup">
        <p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p>
      </form>
    </div>
  </div>

  <div class="login-page">
      <div class="form">
        <form class="register-form">
          <input type="text" placeholder="name"/>
          <input type="password" placeholder="password"/>
          <input type="text" placeholder="email address"/>
          <button>create</button>
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form">
          <input type="text" placeholder="username"/>
          <input type="password" placeholder="password"/>
          <button>login</button>
          <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
      </div>
    </div>

{% endblock %}