{% extends 'create.html' %}
{% block content %}

  <h1>Sign Up</h1>

  {% if error_message %}
  
  <p class="red-text">{{ error_message }}</p>
  
  {% endif %}
  
  <!-- <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn" value="signup">
  </form> -->



  <div class="login-page">
      <div class="form">
        <form class="register-form">
          <input type="text" placeholder="name"/>
          <input type="password" placeholder="password"/>
          <input type="text" placeholder="email address"/>
          <input type="text" placeholder="email address"/>
          <button>create</button>
          <p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p>
        </form>
      </div>
    </div>

{% endblock %}