{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="nav-container">
        <ul class="container">
            <li class="icon">
                icon
            </li>
            <li class="middle">
                <div>
                    <h1>LET IT</h1>
                </div>
                <hr>
                <div>
                    <p class="bottom">Rise</p>
                </div>
            </li>
            <li class="started">Get Started</li>
        </ul>
    </nav>
    {% block content %}

    {% endblock %}
</body>
<footer>
    <div>
        
    </div>
    <div>

    </div>
    <div>

    </div>
</footer>
</html>