{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="nav-container">
        <ul class="container">
            <li class="icon">
                icon
            </li>
            <li class="middle">
                <div>
                    <h1>LET IT</h1>
                </div>
                <hr id="top-line">
                <div>
                    <p class="bottom">Rise</p>
                </div>
            </li>
            <li class="started">Get Started</li>
        </ul>
    </nav>
    {% block content %}

    {% endblock %}
</body>
<footer>
    <div class="links">
        <div>
            <ul>
                <li><a href=""><span class="span1">About Let it Rise</span></a></li>
                <li><a href="">Community</a></li>
                <li><a href="">Our Story</a></li>
                <li><a href="">Guides</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href=""><span class="span1">Blog</span></a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Reviews</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href=""><span class="span1">Please Help me</span></a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">New Users</a></li>
                <li><a href="">Recipes</a></li>
            </ul>
        </div>
    </div>
    <div class="social">
        <hr>
        <div>
            <h3>CONNECT with US</h3>
        </div>
        <hr>
        <div>
            <p>ICONS</p>
        </div>
        <hr>
    </div>
    <div class="rights">
        <div>
            <h6>All right reserved, Austin, Texas</h6>
        </div>
        <div>
            <h6>Terms|Privacy</h6>
        </div>
    </div>
</footer>
</html>