{% extends 'base.html' %}
{% block content %}
    
<section class="landing-photo">
    <div class="wrap">
        <h3 class="intro">A simple way to start baking dough from scratch</h3>
    </div>
    <div class="bread-button">
        <h4 class="started none"><a href="{% url 'stepone' %}">Get started</a></h4>
    </div>
</section>

<section class="about">
    <div class="inside-about">
        <h3>About</h3>
        <p id="about_us">So you want to make bread, huh? Well, so did our friend Peter. He was on a quest to master ye old breadmaking process, using only salt, water, and flour.  We are here to share what Peter learned and guide you through the entire process.</p>
    </div>
</section>

<section class="process">
    <div class="inside-process">
        <h3>Process</h3>
        <div class="process-icon">
            <div class="icon1"></div>
            <div class="icon2"></div>
            <div class="icon3"></div>
            <div class="icon4"></div>
        </div>
        <div>
            <ul class="process-list">
                <li>Learn</li>
                <li>Make</li>
                <li>Bake</li>
                <li>Enjoy</li>
            </ul>
        </div>
        <p class="process-text">Making bread with a natural leaven is a four-step process. First, we will develop the yeasts and bacteria that make up a “starter.” This will make or break your batch. The best breadmakers have made bad batches too. We are here to help flatten the learning curve, not your bread. Second, we will make the leaven. The leaven is what will make are bread dough rise. Third, we will let the bread rise and ferment. Finally, we will let that bread bake, eat it, and learn what we can do better next time. </p>
    </div>
</section>

<section class="tools">
    <div class="inside-tools">
        <h3>Tools</h3>
        <div class="tools-icon">
            <div class="icon1-tools"></div>
            <div class="icon2-tools"></div>
            <div class="icon3-tools"></div>
            <div class="icon4-tools"></div>
        </div>
    </div>
</section>

{% endblock %}