*{
    margin: 0;
    padding: 0;
}

hr{
    width: 13vw;
    border-color: #45510D;
}

#top-line{
    width: 22vw;
}

h1, h2, p, h6{
    font-family: 'Helvetica';
}

h3, h6{
    font-weight: 300;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
nav{
    height: 75px;
    background-color: #F6F8F2;
    background-color: #F6F8F2;
    background: -webkit-gradient(linear, left top, left bottom, from(#B4BA9A), to(#F6F8F2));
    background: -webkit-linear-gradient(top, #B4BA9A, #F6F8F2);
    background: -moz-linear-gradient(top, #B4BA9A, #F6F8F2);
    background: -ms-linear-gradient(top, #B4BA9A, #F6F8F2);
    background: -o-linear-gradient(top, #B4BA9A, #F6F8F2);
}

footer{
    background-color: #F6F8F2;
    background: -webkit-gradient(linear, left top, left bottom, from(#B4BA9A), to(#F6F8F2));
    background: -webkit-linear-gradient(top, #B4BA9A, #F6F8F2);
    background: -moz-linear-gradient(top, #B4BA9A, #F6F8F2);
    background: -ms-linear-gradient(top, #B4BA9A, #F6F8F2);
    background: -o-linear-gradient(top, #B4BA9A, #F6F8F2);
    height: 140px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica';
    color: #45510D;
}

.icon, .started{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica';
}

.icon{
    margin-left: 25px;
}

.started{
    width: 100px;
    margin-right: 25px;
    font-weight: 200;
}

.middle{
    height: 75px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom{
    font-family: 'Hanzipen SC';
    font-size: 35px;
}

.container{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    padding-left: 10px;
    width: 83vw;
    height: 50vh;
    padding-top: 15px;
    /* background-color: greenyellow; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}

.social{
    width: 100vw;
    height: 40vh;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rights{
    padding-left: 10px;
    width: 100vw;
    height: 10vh;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

li a {
    color: #45510D;
    font-size: 12px;
}

.span1{
    color: #3A3434;
    font-size: 16px;
}