*{
    margin: 0;
    padding: 0;
}

hr{
    width: 13vw;
    border-color: #45510D;
}

/* #top-line{
    width: 22vw;
} */

h1{
    font-size: 16px;
}

h1, h2, p, h6{
    font-family: 'Helvetica';
}

h3, h6{
    font-weight: 300;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
nav{
    height: 75px;
    background-color: #F6F8F2;
    background-color: #F6F8F2;
    background: -webkit-gradient(linear, left top, left bottom, from(#B4BA9A), to(#F6F8F2));
    background: -webkit-linear-gradient(top, #B4BA9A, #F6F8F2);
    background: -moz-linear-gradient(top, #B4BA9A, #F6F8F2);
    background: -ms-linear-gradient(top, #B4BA9A, #F6F8F2);
    background: -o-linear-gradient(top, #B4BA9A, #F6F8F2);
}



footer{
    background-color: #F6F8F2;
    background: -webkit-gradient(linear, left top, left bottom, from(#B4BA9A), to(#F6F8F2));
    background: -webkit-linear-gradient(top, #B4BA9A, #F6F8F2);
    background: -moz-linear-gradient(top, #B4BA9A, #F6F8F2);
    background: -ms-linear-gradient(top, #B4BA9A, #F6F8F2);
    background: -o-linear-gradient(top, #B4BA9A, #F6F8F2);
    height: 140px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica';
    color: #45510D;
}

.icon, .started{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica';
}

.icon{
    margin-left: 25px;
    background-image: url(https://i.imgur.com/0iTlANO.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.started{
    width: 100px;
    margin-right: 25px;
    font-weight: 200;
}

.middle{
    height: 75px;
    width: 125px;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.title-rise{
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 2.19px;
}

.bottom{
    font-family: 'Hanzipen SC';
    font-size: 35px;
}

.container{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    padding-left: 10px;
    width: 83vw;
    height: 50vh;
    padding-top: 15px;
    /* background-color: greenyellow; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}

.social{
    width: 100vw;
    height: 40vh;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rights{
    padding-left: 10px;
    width: 100vw;
    height: 10vh;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#term{
    padding-right: 20px;
}

li a {
    color: #45510D;
    font-size: 12px;
}

.span1{
    color: #3A3434;
    font-size: 16px;
}

.landing-photo{
    display: flex;
    flex-direction: column;
    height: 250px;
    background-image: url(https://i.imgur.com/V2xIhQX.png);
    background-repeat: no-repeat;
    background-size: 455px 250px;
    justify-content: flex-end;
}

.wrap{
    width: 140px;
}

h3.started, h3.intro{
    margin-bottom: 25px;
    margin-left: 20px;
}

.about, .process, .tools{
    height: 200px;
    width: 375px;
    
}

.process{
    height: 350px;
}

.about, .tools{
    background-color: #F5E1CB;
}

.inside-about, .inside-process, .inside-tools{
    width: 259px;
    margin-left: 50px;
    padding-top: 30px;
    font-size: 12px;
}

#about_us{
    margin-top: 20px;
}

.icon1, .icon2, .icon3, .icon4{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #B4BA9A;
} 

.icon1-tools{
    background-image: url(https://i.imgur.com/YxN8jJU.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.icon2-tools{
    background-image: url(https://i.imgur.com/kmB7QMb.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.icon3-tools{
    background-image: url(https://i.imgur.com/YBHoKlN.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.icon4-tools{
    background-image: url(https://i.imgur.com/r37D76c.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.process-icon, .process-list, .tools-icon{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.top-sect-day1, .top-sect-day2{
    display: flex;

}
.step1, .media, .step2, .example-container{
    margin-top: 25px;
}
.step1, .step2{
    margin-left: 25px;
    width: 60px;
}

.step-one-list{
    margin-top: 15px;
    list-style-type: disc;
    margin-left: 25px;
    padding-left: 10px;
    
}

.step-two-ul{
    margin-block-end: 11px;
    margin-left: 10px;
    list-style-type: disc;
    margin-top: 15px;
}
.space{
    margin: 10px 0;
}

.media{
    width: 250px;
    height: 150px;
    background-color: aqua;
}

.bottom-sect-day1{
    display: flex;
    flex-direction: column;
    background-color: #F5E1CB;

}

.step1-text{
    width: 250px;
    margin-left: 85px;
    margin-top: 25px;
}

.step1-last{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.example-container{
    width: 250px;
    display: flex;
    justify-content: space-around;
}

.examples{
    width: 75px;
    height: 75px;
    background-color: aqua;
}

.upload-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload{
    margin-top: 30px;
    width: 140px;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border-top: 1px solid #45510d;
    background: #45510d;
    padding: 14px 28px;
    border-radius: 12px;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 16px;
    font-family: "Helvetica";
    text-decoration: none;
    vertical-align: middle;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:active {
    border-top-color: #282b19;
    background: #282b19;
}

.button a{
    color: white;
}

#pic1_text, #pic2_text, #pic3_text {
    display: none;
}

#s2-pic1 {
    background-image: url(https://i.imgur.com/qn38Qrb.jpg?1);
    background-repeat: no-repeat;
    background-size: 75px 75px;
}

#s2-pic2 {
    background-image: url(https://i.imgur.com/P9JtLOw.jpg);
    background-repeat: no-repeat;
    background-size: 75px 75px;
}

#s2-pic3 {
    background-image: url(https://i.imgur.com/6IsCgWu.jpg?1);
    background-repeat: no-repeat;
    background-size: 75px 75px;
}

#s1-pic{
    width: 250px;
    height: 150px;
    background-color: aqua;
    background-image: url(https://i.imgur.com/FR3SvM4.jpg?2);
    background-repeat: no-repeat;
    background-size: 250px 150px;
}

#s3-pic{
    width: 250px;
    height: 150px;
    background-color: aqua;
    background-image: url(https://i.imgur.com/Eb7bmHP.jpg?1);
    background-repeat: no-repeat;
    background-size: 250px 150px;
}

#s5-pic{
    width: 250px;
    height: 150px;
    background-color: aqua;
    background-image: url(https://i.imgur.com/l5sF5CD.jpg?2);
    background-repeat: no-repeat;
    background-size: 250px 150px;
}

#s6-pic{
    width: 250px;
    height: 150px;
    background-color: aqua;
    background-image: url(https://i.imgur.com/VyTE6gF.jpg?2);
    background-repeat: no-repeat;
    background-size: 250px 150px;
}

#s7-pic{
    width: 250px;
    height: 150px;
    background-color: aqua;
    background-image: url(https://i.imgur.com/oWNWFIs.jpg?1);
    background-repeat: no-repeat;
    background-size: 250px 150px;
}

#s8-pic{
    width: 250px;
    height: 150px;
    background-color: aqua;
    background-image: url(https://i.imgur.com/fk4jrnA.jpg?1);
    background-repeat: no-repeat;
    background-size: 250px 150px;
}

#sf-pic{
    width: 250px;
    height: 150px;
    background-color: aqua;
    background-image: url(https://i.imgur.com/MqZWvNN.jpg?2);
    background-repeat: no-repeat;
    background-size: 250px 150px;
}

#sd-pic{
    width: 250px;
    height: 150px;
    background-color: aqua;
    background-image: url(https://i.imgur.com/IeKnwDO.jpg?1);
    background-repeat: no-repeat;
    background-size: 250px 150px;
}

