{% extends 'base.html' %}
{% block content %}


<section class="top-sect-day1">
    <div class="step1">
        <h3>{{ starter.name }} details</h3>
    </div>
    
    <div class="media">
        
    </div>
    
</section>
    <div class="">
        <span class="">{{ starter.name }}</span>
        <ul>
            <li>Temperature of Starter: {{ starter.temp }}</li>
            <li>Temperature when leaven was rising: {{ leaven.temp }}</li>
            <li>Fermentation time of leaven: {{ leaven.time }}</li>
            <li>Temperature when rising: {{ rise.temp }}</li>
            <li>Time spent on rising: {{ rise.time }}</li>
            <li>Temperature when baking: {{ bake.temp }}</li>
            <li>Time spent on baking: {{ bake.time }}</li>
        </ul>
    </div>
    
</section>



{% endblock %}