{% extends 'base.html' %}
{% block content %}
<div class="tracker">
    <div class="box arial">COMPLETE</div>

</div>

<section class="top-sect-day1 flex">

    
    <div class="media" id="sf-pic">
        
    </div>
    
</section>
<div class="bottom-sect flex">
        <div class="flex-f grid">
            <div class="arial">Starter</div>
            <div>
                <ul>
                    <li class="arial">Name of Batch: {{ starter.name }}</li>
                    <li class="arial">Temperature: {{ starter.temp }}</li>
                </ul>
            </div>
        </div>
        <div class="flex-f grid">
            <div class="arial">Leaven</div>
            <div>
                <ul>
                    <li class="arial">Temperature while rising: {{ leaven.temp }}</li>
                    <li class="arial">Fermentation time: {{ leaven.time }}</li>
                </ul>
            </div>
        </div>
        <div class="flex-f grid">
            <div class="arial">Rise</div>
            <div>
                <ul>
                    <li class="arial">Temperature when rising: {{ rise.temp }}</li>
                    <li class="arial">Time spent on rising: {{ rise.time }}</li>
                </ul>
            </div>
        </div>
        <div class="flex-f grid">
            <div class="arial">Bake</div>
            <div>
                <ul>
                    <li class="arial">Temperature when baking: {{ bake.temp }}</li>
                    <li class="arial">Time spent baking: {{ bake.time }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="step1-last">
        <div class="button">
            <a href="{% url 'index' %}" class="arial">See all starters!</a>
        </div>
    </div>    
    
</section>



{% endblock %}