{% extends 'base.html' %}
{% block content %}

<section class="top-sect-day1">
    <div class="step1">
        <h3>Step EIGHT</h3>
    </div>
    <div class="media" id="s8-pic">

    </div>

</section>

<section class="bottom-sect-day1">
    <div class="step1-text">
        <ul>
            <li>Place your dutch oven (both pot and lid) into the oven and preheat the oven to 500ºF.</li>
            <li>Dust one of your loaves in your baskets with rice flour.</li>
            <li>Once the oven is preheated take out the dutch oven.</li>
            <li>Flip the loaf into the pan of the dutch oven so that the floured side is down.</li>
            <li>Using a serrated knife cut a square on the top of your loaf.</li>
            <li>Place the lid of the dutch oven top and return both to the oven.</li>
            <li>Bake your bread at 450ºF for 20 minutes.</li>
            <li>After 20 minutes, remove the lid of the dutch oven and bake for 20 more minutes.</li>
        </ul>
    </div>
    <div class="step1-last">
        <form action="{% url 'add_bake' starter.id %}"  method="POST">
            {% csrf_token %}
            {{ bake_form.as_p }}
            <input type="submit" class="btn" value="Next!">
        </form>
    </div>

</section>

{% endblock %}