{% extends 'base.html' %}
{% block content %}

<section class="top-sect-day1">
    <div class="step1">
        <h3>Step ONE</h3>
    </div>
    <div class="media">

    </div>

</section>

<section class="bottom-sect-day1">
    <div class="step1-text">
        <p>First, we need to make a culture. After mixing flour and water together we will let the dough hang out with wild yeasts and bacteria found in the air and flour. This will activate the fermentation process. Then we will feed our starter regularly so that it becomes a healthy culture.</p>
    </div>
    <ul class="step-one-list">
        <li class="space">Fill a small, clear bowl with 25g of whole wheat flour,25g white flour, and 50g of filtered water</li>
        <li class="space">Mix it all together with your hands</li>
        <li class="space">Use your dough spatula to scrape off the dough on your hands into the bowl</li>
        <li class="space">Then clean off the sides of the bowl</li>
        <li class="space">Put a kitchen towel over your bowl and place the bowl in a shaded place in your kitchen</li>
    </ul>
    <p class="step1-text">Let the starter sit until tomorrow morning.</p>
    <div class="step1-last">
        <div class="button">
            <a href="{% url 'starter_create' %}">NEXT!</a>
        </div>
    </div>

</section>

{% endblock %}