{% extends 'base.html' %}
{% block content %}

<div class="tracker">
    <div class="box">STARTER</div>
    <div class="box">LEAVEN</div>
    <div class="box">RISE</div>
    <div class="box active">BAKE</div>
</div>

<section class="top-sect-day1">
    <div class="step1">
        <h3>Step SEVEN</h3>
    </div>
    <div class="media" id="s7-pic">

    </div>

</section>

<section class="bottom-sect-day1">
    <div class="step1-text">
            <ul class="step-two-ul">
                <li>Fold each corner of the dough onto itself so that the flour is on the outside of both the top and bottom of the dough. </li>
                <li>Flip your dough over</li>
                <li>Using your bench knife (or dough spatula) angle it at a 45° and slide it under your dough. </li>
                <li>Keep repeating this from every angle until your dough is round and smooth on the surface.</li>
                <li>Cover with a damp kitchen towel and let it rest for 20 minutes. </li>
                <li>Lightly dust the top of your dough with flour. </li>
                <li>Then flip your dough over so the floured side is down. </li>
                <li>Using both hands pinch the dough edge that is closest to you, stretch it lightly, and then fold it ⅔ over itself. </li>
                <li>Pinch the right and left side stretch them out like wings and fold them back onto your dough one at a time. </li>
                <li>Using both hands pinch the dough edge that is farthest from you,  stretch it lightly, and then fold it ⅔ over itself.</li>
                <li>Grab the edge closest to you and roll your dough over.</li>
                <li>Using your bench knife (or dough spatula) angle it at a 45° and slide it under your dough.</li>
                <li>Keep repeating this from every angle until your dough is round and smooth on the surface.</li>
                <li>Place a kitchen towel over a basket or bowl and flour the towel so your dough won’t stick to it.</li>
                <li>Place the smooth side of your dough face down in the basket.</li>
                <li>Cover the basket with another kitchen towel.</li>
            </ul>
    </div>
    <div class="step1-last">
        <div class="button">
            <a href="{% url 'stepeight' starter.id %}">NEXT!</a>
        </div>
    </div>

</section>

{% endblock %}