{% extends 'base.html' %}
{% block content %}

<section class="top-sect-day1">
    <div class="step1">
        <h3>Step SIX</h3>
    </div>
    <div class="media">

    </div>

</section>

<section class="bottom-sect-day1">
    <div class="step1-text">
        <p>The rise will take around four hours to be complete. After your dough has been sitting out for 30 minutes it is now time to do our first turn. Instead of kneading the dough we will be giving the dough a “turn” every 30 minutes.</p>
        <ul>
            <li>Dip one hand into the water to prevent it from sticking to the dough.</li>
            <li>Grab the underside of the dough, stretch it up and fold it over itself gently.</li>
            <li>Repeat this turning and folding action three more times.</li>
            <li>Then let it sit for 30 more minutes.</li>
        </ul>
        <p>Now that your bread has been rising for three hours let's check if the fermentation process is complete.</p>
    </div>
    <div class="step1-last">
        <form action="{% url 'add_rise' starter.id %}"  method="POST">
            {% csrf_token %}
            {{ rise_form.as_p }}
            <input type="submit" class="btn" value="Next!">
        </form>
    </div>

</section>

{% endblock %}