{% extends 'base.html' %}
{% block content %}

<section class="top-sect-day1">
    <div class="step1">
        <h3>Step THREE</h3>
    </div>
    <div class="media" id="s3-pic">

    </div>

</section>

<section class="bottom-sect-day1">
    <div class="step1-text">
        <p>The leave is a very important part of the baking process, much of the bread flavor will be determined by your leaven. The best way to tell if your leaven is ready is if it will float in water. Just scoop out one spoon full of leaven when you are ready to test it.</p>
    </div>
    <div class="step1-last">
        <div class="button">
            <a href="{% url 'stepfour' starter.id %}">NEXT!</a>
        </div>
    </div>

</section>

{% endblock %}