{% extends 'base.html' %}
{% block content %}

<section class="top-sect-day1">
    <div class="step1">
        <h3>Step EIGHT</h3>
    </div>
    <div class="media">

    </div>

</section>

<section class="bottom-sect-day1">
    <div class="step1-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugiat voluptatum ex labore odit doloribus aut necessitatibus eos rem ullam dolorum laboriosam, placeat totam quibusdam at recusandae enim sint aliquam?</p>
    </div>
    <div class="step1-last">
        <form action="{% url 'add_bake' starter.id %}"  method="POST">
            {% csrf_token %}
            {{ bake_form.as_p }}
            <input type="submit" class="btn" value="Next!">
        </form>
    </div>

</section>

{% endblock %}