{% extends 'base.html' %}
{% block content %}

<section class="top-sect-day2">
    <div class="step2">
        <h3>Step TWO</h3>
    </div>
    <div class="example-container">
        <div id="pic1" id="s2-pic1" class="examples">

        </div>
        <div id="pic2" id="s2-pic2" class="examples">

        </div>
        <div id="pic3" id="s2-pic3" class="examples">

        </div>
    </div>
</section>
    <div class="upload-container">
        <div class="upload">
            <p>upload image here!</p>
        </div>
    </div>

<section id="pic1_text" class="bottom-sect-day1">
    <div class="step1-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugiat voluptatum ex labore odit doloribus aut necessitatibus eos rem ullam dolorum laboriosam, placeat totam quibusdam at recusandae enim sint aliquam?</p>
    </div>
</section>

<section id="pic2_text" class="bottom-sect-day1">
    <div class="step1-text">
        <p>2Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugiat voluptatum ex labore odit doloribus aut necessitatibus eos rem ullam dolorum laboriosam, placeat totam quibusdam at recusandae enim sint aliquam?</p>
    </div>
</section>

<section id="pic3_text" class="bottom-sect-day1">
    <div class="step1-text">
        <p>3Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugiat voluptatum ex labore odit doloribus aut necessitatibus eos rem ullam dolorum laboriosam, placeat totam quibusdam at recusandae enim sint aliquam?</p>
    </div>
    <div class="step1-last">
        <form action=""  method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn" value="Next!">
        </form>
    </div>
</section>

{% endblock %}